@font-face {
  font-family: "Fira Sans";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/firasans-light.woff2") format("woff2"), url("fonts/firasans-light.woff") format("woff"); }

@font-face {
  font-family: "Fira Sans";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/firasans-book.woff2") format("woff2"), url("fonts/firasans-book.woff") format("woff"); }

@font-face {
  font-family: "Fira Sans";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/firasans-medium.woff2") format("woff2"), url("fonts/firasans-medium.woff") format("woff"); }

html {
  background-color: white;
  font-family: "Fira Sans", Arial, sans-serif;
  line-height: 1.5;
}

 @media print {
  html {
    font-size: 13px;
  }
}

body {
  padding: 1rem 4.5rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 6rem;
  font-weight: normal;
  letter-spacing: .05em;
}

h2 {
  position: relative;
  margin-top: 3rem;
  padding-bottom: 0.3em;
  font-size: 18px;
  letter-spacing: .05em;
  color: #1233a9;
  font-weight: 300;
}

h2:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
  right: -3px;
  height: 1px;
  background-image: linear-gradient(42deg, #eee, #1233a9);
}

h3 {
  margin-top: 1.5rem;
  font-size: 16px;
}

h4 {
  font-size: 14px;
  font-weight: 700;
}

ol, ul {
  padding-left: 3rem;
}

ol li, ul li {
  padding-bottom: .25rem;
}

li p {
  margin: 0;
}

.footer p {
  width: 50%;
  float: left;
  font-size: 12px;
  font-weight: 300;
}

.footer .pagination {
  text-align: right;
}

a {
  color: #1233a9;
  text-decoration: none;
}

code, pre {
  font-family: "Liberation Mono", Menlo, Courier, monospace;
  background-color: #f8f8f8;
  font-size: 85%;
  margin: 0;
}

code {
  padding: .2em;
}

pre {
  border-left: 5px solid #ccc;
  padding: .5rem 1.5rem;
  overflow: auto;
  word-wrap: normal;
  margin-bottom: 1rem;
}

blockquote {
  position: relative;
  background-color: #f8f8f8;
  border-left: 5px solid #ccc;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  margin: 0 0 1rem;
  quotes: "\201C""\201D";
}

blockquote:before {
  position: absolute;
  top: .2rem;
  left: .5rem;
  color: #ccc;
  content: open-quote;
  font-size: 60px;
}

blockquote p {
  display: inline;
}

hr {
  position: relative;
  display: block;
  margin: 6rem 0 7.5rem 0;
  border: 0;
}

hr:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;
  right: -3px;
  height: 1px;
  background-image: linear-gradient(42deg, #eee, #1233a9);
  margin: 3.25rem 0 3.5rem;
}

/* TOC */
.TOC ul {
  list-style: none;
  padding-left: 0;
}

.TOC a {
  display: none;
}

.TOC a + ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.TOC a + ul a {
  display: block;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  margin-top: 0;
  margin-bottom: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

th {
  padding: 6px 13px;
  border: 1px solid #ddd;
  font-weight: bold;
}

td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
